.building
{
	width: 20em;
	margin-left: auto;
	margin-right: auto;
	background: #484840;
}

p, h1
{
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
}

table
{
	margin-left: auto;
	margin-right: auto;
}


.win
{
	cursor: pointer;

	padding: 2em;
	margin-right: 0.2em;
	margin-left: 0.2em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	background: #000;
	background-image: none;
/*	-webkit-transition: background 0.3s;
    transition: background 0.3s;*/
}