body
{
	margin: 0px;
	margin-top:0px;
}

#building
{
	width: 20em;
	margin-left: auto;
	margin-right: auto;
	background: #484840;
}

table
{
	margin-left: auto;
	margin-right: auto;
}

.win
{

	padding: 2em;
	margin-right: 0.2em;
	margin-left: 0.2em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	background: #000;
	background-image: none;
/*	-webkit-transition: background 0.3s;
    transition: background 0.3s;*/
}

#base
{
	width: 24em;
	height: 2em;
	margin-left: auto;
	margin-right: auto;
	background: #484840;
}

#grass
{
	margin-top: -1em;
	width: 100%;
	background-color: #7CFC00;
}

#sky
{
	background-color: #7EC0EE;
}

.btn
{
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	border-radius: 10px;
	font-family: sans-serif;
	margin: auto;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: none;
	display:block;
	margin: 0 auto;
}

.btn:hover
{
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.btn:active
{
	background-image: linear-gradient(to top, #3498db, #2980b9);
}

p, h1
{
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
}
