html, body
{
	margin-right: 0;
	margin-left: 0;
	margin-top: -15px;
	margin-bottom: -16px;
}

#sky
{
	background-color: #7EC0EE;
	padding-top: 50px;
}

#banner
{
	height: 40px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	background-color: #ffff00;
	font-family: 'Patua One', cursive;
	text-align: center;
	font-size: 25px;
}

#building
{
	width: 288px;
	height: 490px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
	background: #484840;
}

.win
{
	width: 64px;
	height: 64px;
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	background: #000;
	background-image: none;
	float: left;
/*	-webkit-transition: background 0.3s;
    transition: background 0.3s;*/
}

#base
{
	position: relative;
	z-index: 1;
	width: 384px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -30px;
	background: #484840;
}

#door
{
	width: 61.8px;
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	background-color: #303030;
}

#grass
{
	width: 100%;
	background-color: #7CFC00;
}

.btn
{
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	border-radius: 10px;
	font-family: 'Patua One';
	margin: auto;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	border: none;
	display:block;
	margin: 0 auto;
}

.btn:hover
{
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.btn:active
{
	background-image: linear-gradient(to top, #3498db, #2980b9);
}

p
{
	text-align: center;
	font-family: 'Patua One';
}
